body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.firstsection-victims {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 80px;


}

.sylhet-flood {
    text-align: center;
    color: white;

}

.donate-button {
    text-align: center;
    text-decoration: none;
    color: rgb(46, 56, 139);
    background-image: linear-gradient(orange, salmon);
    padding: 15px 25px;
    border-radius: 7px;
    font-weight: 600;
    margin-top: 30px;


}

.sylhet-flood h1 {
    font-size: 250%;
}

.sylhet-flood p {
    margin-bottom: 40px;
}

.Donate-today h1 {
    color: black;
    font-size: 250%;
    text-align: center;
}

.first-amount {
    text-align: center;
}

.Box-Amount {
    width: 30px;
    height: 40px;
    border-radius: 7px;
    padding: 35px 45px 35px 45px;
    margin: 10px;
    background-color: whitesmoke;

}

.input-amount {
    text-align: left;
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    font-weight: bold;

}

#five-hundredtk {
    background-color: antiquewhite;
    border: 2px solid salmon;
    color: red;
}

#input-section {
    display: block;
    margin: auto;
    margin-top: 50px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: lightgray;
}

.input-button {
    text-align: center;
}

.donate-plan h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 10%;
}

.donate-plan p {
    text-align: center;
}

.donate-items {
    display: flex;
    margin: 80px;

}

.food-box {
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.shelter-box {
    background-color: rgb(157, 200, 240);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.medicine-box {
    background-color: rgb(98, 240, 240);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.medicine-box img {
    height: 15%;
}

.your-responsibility {
    display: flex;
}

.donating-moment h1 {
    font-size: 250%;

}

.contribute {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 12px;

    border-radius: 7%;
    background-image: linear-gradient(rgb(255, 81, 0), rgb(250, 114, 205));
}

.donating-moment {
    width: 50%;
}

.description {
    padding-left: 5%;
    padding-right: 5%;
}

.donating-moment img {
    width: 400px;
    height: 400px;

    border-radius: 10px;
    padding-right: 10%;
}